body {
    background-color: #121212; /* Ajuste para o BG escuro desejado */
    color: #ffffff;            /* Fonte branca */
    font-family: Arial, sans-serif;
}

a, a:visited {
    color: #AF68BA;            /* Cor dos hyperlinks */
    text-decoration: underline;
}

a:hover {
    color: #c782d1;            /* Tom levemente mais claro para hover */
}

.table-container {
    background-color: #1e1e1e;
    color: #ffffff;
}

th {
    background-color: #2c2c2c;
    color: #ffffff;
    border-bottom: 2px solid #444444;
}

td {
    border-bottom: 1px solid #333333;
}
